POSTGRES_HOST = write your host here
POSTGRES_PORT = write your port here
POSTGRES_USER = write your user here
POSTGRES_PASSWORD = write your password here
POSTGRES_DB = write your database name here

GEMINI_API_KEY = write your gemini api key here